/* ZivahowyServer Wordpress template */
/* v. 1.000 */
/* By Michal Futera */
/* http://linktr.ee/mjfutera */

@import "./animations.css";
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.logo {
    max-width: 250px;
    animation-name: spinning360;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-duration: alternate-reverse;
    border-radius: 100%;
}

.pinkNeon:hover {
    box-shadow: 0 0 10px 5px #48abe0,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #8a2be2,
    0 0 30px 25px #ff1493;
}

.blueNeon:hover {
    box-shadow: 0 0 50px 15px #48abe0;
}

#serverDetails {
    height: 100%;
}

.glowingText{
    animation: glowingShadows 2s infinite
}

.cartoonFont {
    font-family: 'Mynerve', cursive;
}